<custom-form
  [listGenre]="listGenres"
  (onFilterValue)="changeFilter($event)"
></custom-form>

<list-card [movies]="listMovies"></list-card>
<div class="d-flex flex-row flex-wrap justify-content-end mb-1">
  <div>
    <button *ngIf="page !== 1" class="btn btn-primary" (click)="previusPage()">
      Предыдущая страница
    </button>
    {{ page }} из {{ totalPages }}
    <button
      *ngIf="page !== totalPages"
      class="btn btn-primary"
      (click)="nextPage()"
    >
      Следующая страница
    </button>
  </div>
</div>
